.vscode/
*
#ignore everything except: !
!.gitignore
!*/.keep
!data_prep.py
!df_prep.py
!config_dfs.py
!eval.py
!models_run.py
!gap_fill_meta.py 

!data/ 
!data/dev.tsv
!data/grambank.encoded.tsv
!data/train.tsv
!data/test.tsv 

!scripts/
!scripts/create_train_dev.py
!scripts/find_test_lgs.py 

!results_overview.xlsx

!model_helper.py
!params/
!params/*.csv

!new_pred_output/
!new_pred_output/*.csv

!new_results/
!new_results/*.txt 
!new_results/clusters
!new_results/clusters/*.txt

!preped/
!preped/*.parquet 

!ready_dfs/
!ready_dfs/no_nans/
!ready_dfs/no_nans/*.parquet 
!ready_dfs/no_nans/*.pkl
!ready_dfs/with_nans/
!ready_dfs/with_nans/*.parquet

!augment_dfs.py
!geocluster.py 